/* Elements */
body {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0.6rem 0;
}

ul {
  margin: 0;
  padding: 1rem;
}

p {
  margin: 0 auto 0 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

img {
  width: 5rem;
}

/* div */
.container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 5rem auto;
  text-align: center;
  background-color: rgba(14, 74, 74, 0);
}

.list {
  margin: 1rem auto 5rem;
  padding: 0;
  width: 20rem;
  border: 0.1rem solid red;
  background-color: rgb(35, 11, 88);
  color: whitesmoke;
}

.container2 {
  display: flex;
  flex-direction: row;
}

/* Input fields */
.input {
  width: 11rem;
  margin: 1rem auto 0rem;
  background-color: aquamarine;
  border: none;
  border-radius: 5rem 5rem 0 0;
  padding-left: 0.6rem;
}

.editfield {
  border: none;
  background-color: aquamarine;
}

/* Buttons */
button {
  cursor: pointer;
  transition: 0.3s;
}

.submit {
  width: 5rem;
  margin: 0;
  border-radius: 0 0 0 5rem;
  border: none;
}

.submit:hover {
  background-color: gray;
}

.submit2 {
  background-color: white;
}

.submit2:hover {
  background-color: gray;
}

.delete-btn {
  border-radius: 0 5rem 5rem 0;
  border: none;
  background-color: red;
}

.delete-btn:hover {
  background-color: brown;
}

.edit-btn {
  font-size: small;
  border-radius: 1rem 0 0 1rem;
  border: none;
  background-color: white;
}

.edit-btn:hover {
  background-color: gray;
}

.deleteAll {
  background-color: red;
  margin: 0;
  border-radius: 0 0 5rem 0;
  border: none;
}

.deleteAll:hover {
  background-color: brown;
}

.sort {
  background-color: rgb(0, 187, 255);
  margin: 0;
  padding: auto 1rem auto 1rem;
  border: none;
}

.sort:hover {
  background-color: rgb(0, 81, 255);
}
